/**
 * @file
 * Standardizations, tweaks and fixes.
 */
/**
 * Set a standard font size for admin menu.
 */
#admin-menu-wrapper {font-size: 9pt;}

/**
 * Fixes horizontal scrollbar issue in admin menu.
 */
#admin-menu {
 margin: 0 0 0 -20px;
 padding: 0 0 0 20px;
 -moz-box-shadow: 10px 3px 20px #000;
 -webkit-box-shadow: 10px 3px 20px #000;
 box-shadow: 10px 3px 20px #000;
}

/**
 * Fixes hard-to-catch gears on contextual links.
 */
div.panel-pane div.admin-links {width: 100%;}
div.panel-pane div.admin-links:hover {z-index: 9999999;}
html.js div.contextual-links-wrapper {
  min-width: 34px;
  min-height: 34px;
}

/**
 * Styles for the custom unpublished indicator.
 */
.cbase-unpublished {
  position: relative;
  padding: 0 .5em;
  border: 2px solid #990000;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.unpublished-indicator.side-left {
  width: 36px;
  height: 125px;
  position: absolute;
  background: transparent url("../images/draft-left.png") top right no-repeat;
  top: 0;
  left: 0;
  margin-left: -36px;
}
.unpublished-indicator.side-right {
  width: 36px;
  height: 125px;
  position: absolute;
  background: transparent url("../images/draft-right.png") top left no-repeat;
  top: 0;
  right: 0;
  margin-right: -36px;
}
.unpublished-indicator.top-left {
  width: 100%;
  height: 36px;
  position: absolute;
  background: transparent url("../images/draft-top.png") bottom left no-repeat;
  top: 0;
  left: 0;
  margin-top: -36px;
  text-align: left;
}
.unpublished-indicator.top-mid {
  width: 100%;
  height: 36px;
  position: absolute;
  background: transparent url("../images/draft-top.png") bottom center no-repeat;
  top: 0;
  left: 0;
  margin-top: -36px;
  text-align: center;
}
.unpublished-indicator.top-right {
  width: 100%;
  height: 36px;
  position: absolute;
  background: transparent url("../images/draft-top.png") bottom right no-repeat;
  top: 0;
  right: 0;
  margin-top: -36px;
  text-align: right;
}
