// Typography
// Mixins to aid with common typographical structure such as font size, line
// height and spacing.

/**
 * Calculate font-sizes and line-heights.
 */
@mixin headers($base, $scale: golden) {
  // @TODO: See if we can get the modulus so we can get hundreths.
  /*@if $scale == golden {
    $h4_size: $base/$base;
    $h3_size: ($base * $h4_size * 1.62)/$base;
    $h2_size: ($base * $h3_size * 1.62)/$base;
    $h1_size: ($base * $h2_size * 1.62)/$base;
  } */

  h1 {
    font-size: golden-ratio($base, 3);
  }
  h2 {
    font-size: golden-ratio($base, 2);
  }
  h3 {
    font-size: golden-ratio($base, 1);
  }
  h4 {
    font-size: golden-ratio($base, 0);
  }
  h5 {
    font-size: golden-ratio($base, -1);
  }
  h6 {
    font-size: golden-ratio($base, -1);
    font-style: italic;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: .25em 0 .5em 0;
  }
}

// -- REM Font Size
// @TODO: Investigate how Chris Coyer uses this with the 68.2% base font-size.
@mixin font-size($sizeValue: 1.6){
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
