.panel-golden-stacked {
  margin-top: 0;
  padding-top: 0;

  .panel-col-top, .panel-col-bottom {
    width: 100%;
  }

  .panel-col-top .inside {
    margin-bottom: .5em;
  }


  .panel-separator {
    margin: 0 0 1em 0;
  }

  @media (min-width: 701px) {
    .panel-col-first {
      display: inline-block;
      vertical-align: top;
      width: 62%;
      margin-right: -5px;

      .inside {
        margin: 0 0 0 0;
        padding-right: 1em;
      }
    }

    .panel-col-last {
      display: inline-block;
      vertical-align: top;
      width: 38%;

      .inside {
        margin: 0 0 1em 0.5em;
      }
    }
  }
}
